h1 {
    font-family: 'Roboto Condensed';
    font-weight: 900;
}

h2 {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    color: #404040;
}

h3 {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    color: #404040;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 24px;
}

ul {
    font-family: sans-serif;
    font-size: 24px;
    color: #404040;  
    list-style: none;
    font-weight: lighter;
    line-height: 2.3;
}

ul li {
    margin-bottom: 10px;
    margin-top: 30px;
}

.title {
    padding-top: 5%;
    margin-bottom: 2.6%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed';
    font-weight: 900;
    font-size: 100px;
    text-shadow: 0px 4px 10px rgba(0,0,0,0.35);
    line-height: 95%;
}

.form-style {
    text-align: center; 
    padding-bottom: 60px;
}

.input {

    font-family: sans-serif;
    font-size: 18px;
    padding-left: 20px;
    border: solid 5px #fafafa;
    border-radius: 25px;
    width: 400px;
    height: 50px;
    background: #ffffff url('/static/images/magnifier.png') 10px center no-repeat;
    background-size: 20px; /* Adjust the size of the image */
    padding-left: 40px;
}
.input::placeholder {
    color: #c0c0c0;

}
.input:focus {
    outline: none;
}

.button {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
    width: auto;
    border: solid 1px #ff454b;
    color: #ffffff;
    background-color: #FF5A5F;
    border-radius: 25px;
    margin-left: 10px;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.button:hover {
    transform: scale(1.1);
    Cursor: pointer;
}

.header {
    width: 100%;
    text-align: center;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbarDark {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.navbar a:hover {
    transform: scale(1.05);
    Cursor: pointer;
}

.navbarDark a {
    font-size: 18px;
    color: #404040;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.navbarDark a:hover {
    transform: scale(1.05);
    Cursor: pointer;
}

.navbarDark a.active {
    color: #ff5a60d3;
  }

.logo {
   width: auto;
   height: 40px;
   text-align: center;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.logo-size {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    padding: 16px;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.logo-size:hover {
    transform: scale(1.05);
    Cursor: pointer;
}

.checkbox-container {
    display: inline-block;
    vertical-align: middle;

}

.boxed-form {
    position: absolute;
    top: 315px;
    right: 100px;
    background-color: #ffffff;
    width: 300px;
    border-radius: 25px;
    padding: 40px;
    box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.05);
}

.Best_option_header {
    padding-top: 40px;
    text-align: center;
    font-size: 70px;
    line-height: 110%;
    padding-bottom: 20px;
}

.in-title-logo {
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    border-radius: 10px;
}

/* footer styling */

.footer {
    margin-left: 1cm;
    margin-top: -1.5cm;
}

.a {
    text-decoration: none;
    color: #404040;
    margin: 0;
    padding-right: 20px;
}

.logo-footer {
    width: auto;
   height: 22px;
   margin-bottom: 0.5cm;
   margin-left: 1cm;
}

/* Styling for how it works subpage */

.how-it-works-p {
    font-family: 'Roboto Condensed';
    font-size: 107%;
    color: #404040;
    text-align: center;
    max-width: 800px; 
    margin: 0 auto; 
    margin-top: 1.2cm;
    line-height: 1.4;
    margin-bottom: 2.2cm;
    
}

.how-it-works-p-1 {
    font-family: 'Roboto Condensed';
    font-size: 120%;
    color: #404040;
    text-align: center;
    max-width: 1100px;  
    margin: 0 auto;
    margin-top: 1.2cm;
    line-height: 1.7;
    margin-bottom: 2.2cm;
}
.how-it-works-title {
    text-align:center;
        color: #404040;
    line-height: 15px;
    font-size: 40px;
}

.how-it-works-box{
    background-color: #FF5A5F;
    padding: 10px;
    border: 1px solid #FF5A5F;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(3, 3, 0, 0.2);
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    line-height: 15px;
}

.how-it-works-box-1 {
    background-color: #ff5a60d3;
    padding: 3px;
    border: 1px solid #ff5a60d3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(3, 3, 0, 0.2);
    max-width: 90px;
    width: 100%;
    margin: 0 auto;
    line-height: 15px;
}

.column {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 5px;
  }

  .row {
    content: "";
    clear: both;
    display: table;
  }

  .image-title {
    font-family: 'Roboto Condensed';
    font-size: 30px;
    text-align: center;
  }

  .image-description {
    font-family: 'Roboto Condensed';
    font-size: 17px;
    text-align: center;
    margin-top: 0.5cm;
  }


  .colored-section {
    background-color: #c0c0c0;
    padding: 20px;
  }


  /* Styling for about subpage */

  .about-us-title {
    text-align: center; 
    color: #404040;
    line-height: 15px;
    font-size: 40px;
  }

  .about-us-title::after {
    content: ''; 
    display: block;
    width: 400px; 
    height: 20px; 
    background-color: #FF5A5F;
    border-radius: 10px; 
    position: relative;
    bottom: -5px; 
    left: 50%; 
    transform: translateX(-50%); 
    box-shadow: 5px 5px 10px rgba(3, 3, 0, 0.2);
  }

  .about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .member {
    background-color: #fafafa;
    padding: 20px;
    margin: 20px; 
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    max-width: 400px;
  }

  .member h2 {
    color: #FF5A5F; 
    margin-bottom: 10px; 
    font-size: 24px; 
    margin: 20px;
    padding: 20px;
}

  .member-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }

  .member-description {
    list-style-type: circle;
    padding: 0;
  }

  /* Styling for grocery list subpage */

.bg-glist {
    background-color: #ffffff;
    display: flex;
    width: 500px;
    border-radius: 25px;
    box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.10);
    overflow: hidden;
    padding: 40px;
    margin: 50px auto; 
}

.content-container {
    display: grid;
    text-align: left; 
    grid-template-columns: 1fr;
    width: 475px;
}

.total-container {
    text-align: right;
    margin-top: auto;
}

.total-price {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    text-decoration: underline;
}

.store-logo {
    height: 45px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
}

.product {
    float: left;
    clear: left;
}

.price {
    float: right;
    clear: right;
}

.info-section {
    position: absolute;
    bottom: -130%;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
    padding: 20px;
    padding-bottom: 100px;
}

.info-section-steps {
    display: inline-flex;
    margin-left: 50px;
    margin-right: 50px;
}

.text-section {
    font-size: 20px;
    font-weight: 300;
    margin-top: -20px;
    margin-bottom: 60px;
}

.box-style {
    margin-left: 50px;
    margin-right: 50px;
}

.custom-width {
    width: 300px;
    text-align: center;
    font-size: 30px;
}

.title-text {
    font-size: 50px;
}

.grocery_list_bg {
    background-color: #fdfdfd;
    border-radius: 25px;
    width: fit-content;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-top: 1px;
    margin-right: 25px;
    border: solid;
    border-color: whitesmoke;
}

.history-layout {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 1350px;
    margin-left: -40px;
}

.search-title {
    font-size: 24px;
    width: max-content;
    text-decoration: none;
}

.history-items {
    margin-bottom: 10px;
    margin-top: 30px;
    width: max-content;
    line-height: 20px;
    list-style: circle;
    padding-left: 0px;
    list-style-position: inside;
}

.history-position {
    padding-top: 50px;
    padding-left: 90px;
}

.history-list-title {
    font-size: 45px;
}

.history-date {
    font-size: medium;
    color: gainsboro;
    margin-top: -33px;
}

/* Styling for Contact subpage */
.contact-title {
    text-align:center;
        color: #404040;
    line-height: 15px;
    font-size: 40px;
}

.contact-box {
    background-color: #FF5A5F;
    padding: 10px;
    border: 1px solid #FF5A5F;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(3, 3, 0, 0.2);
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    line-height: 15px;
}

.contact-table {
    margin: auto;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.contact-table th {
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    width: 30%;
}

.contact-table td {
    width: 30%;
}

.contact-hours::after {
    content: ''; 
    display: block;
    width: 200px; 
    height: 10px; 
    background-color: #FF5A5F;
    border-radius: 10px; 
    position: relative;
    bottom: 15px; 
    left: 50%; 
    transform: translateX(-50%); 
    box-shadow: 5px 5px 10px rgba(3, 3, 0, 0.2);
}

.contact-info::after {
    content: ''; 
    display: block;
    width: 250px; 
    height: 10px; 
    background-color: #FF5A5F;
    border-radius: 10px; 
    position: relative;
    bottom: 15px; 
    left: 50%; 
    transform: translateX(-50%); 
    box-shadow: 5px 5px 10px rgba(3, 3, 0, 0.2);
}

.contact-address::after {
    content: ''; 
    display: block;
    width: 130px; 
    height: 10px; 
    background-color: #FF5A5F;
    border-radius: 10px; 
    position: relative;
    bottom: 15px; 
    left: 50%; 
    transform: translateX(-50%); 
    box-shadow: 5px 5px 10px rgba(3, 3, 0, 0.2);
}

.contact-table td {
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

.contact-headers {
    font-size: large;
}

.contact-body {
    font-size: large;
}
