h1 {
    font-family: 'Roboto Condensed';
    font-weight: 900;
    color:#404040;
}

h2 {
    font-family: 'Roboto Condensed';
    font-weight: 900;
    color: #404040;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    color: #404040;
}

ul {
    font-family: sans-serif;
    font-size: 24px;
    color: #404040;  
    list-style: none;
    font-weight: lighter;
    line-height: 2;
}

ul li {
    margin-bottom: 10px;
}

.title {
    padding-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed';
    font-weight: 900;
    font-size: 100px;
    text-shadow: 0px 4px 10px rgba(0,0,0,0.35);
    line-height: 95%;
}

.input {

    font-family: sans-serif;
    font-size: 18px;
    padding-left: 20px;
    border: solid 5px #fafafa;
    border-radius: 25px;
    width: 400px;
    height: 50px;
    background: #ffffff url('/static/images/magnifier.png') 10px center no-repeat;
    background-size: 20px; /* Adjust the size of the image */
    padding-left: 40px;
}
.input::placeholder {
    color: #c0c0c0;

}
.input:focus {
    outline: none;
}

.button {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
    width: auto;
    border: solid 1px #ff454b;
    color: #ffffff;
    background-color: #FF5A5F;
    border-radius: 25px;
    margin-left: 10px;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.button:hover {
    transform: scale(1.1);
    Cursor: pointer;
}

.header {
    width: 100%;
    text-align: center;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbarDark {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.navbar a:hover {
    transform: scale(1.05);
    Cursor: pointer;
}

.navbarDark a {
    font-size: 18px;
    color: #404040;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.navbarDark a:hover {
    transform: scale(1.05);
    Cursor: pointer;
}

.navbarDark a.active {
    color: #ff454b;
  }

.logo {
   width: auto;
   height: 40px;
   text-align: center;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.logo-size {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.logo-size:hover {
    transform: scale(1.05);
    Cursor: pointer;
}

.checkbox-container {
    display: inline-block;
    vertical-align: middle;

}

.boxed-form {
    position: absolute;
    top: 200px;
    right: 100px;
    background-color: #ffffff;
    width: 300px;
    border-radius: 25px;
    padding: 40px;
    box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.10);
}

.Best_option_header {
    padding-top: 60px;
    text-align: center;
    font-size: 70px;
    line-height: 110%;
}

.in-title-logo {
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    border-radius: 10px;
}

.how-it-works-title {
    text-align:center;
}

.bg-glist {
    background-color: #ffffff;
    display: flex;
    width: 500px;
    border-radius: 25px;
    box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.10);
    overflow: hidden;
    padding: 40px;
    margin: 50px auto; 
}

.content-container {
    display: block;
    text-align: left; 
    grid-template-columns: 1fr;
    width: 475px;
}

.total-container {
    text-align: right;
    margin-top: auto;
}

.total-price {
    font-size: 30px;
    font-weight: lighter;
    text-decoration: underline;
}

.store-logo {
    height: 45px;
    border-radius: 5px;
}

.product {
    float: left;
    clear: left;
}

.price {
    float: right;
    clear: right;
}