
.title {
    margin-top: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed';
    font-weight: 900;
    font-size: 85px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}