<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Contact</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:900&display=swap">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="header">
            <a href="http://127.0.0.1:5000/"><img src="/static/images/logo_dark.png" alt="logo" class="logo"></a>

            <nav class="navbarDark">
                <a href="http://127.0.0.1:5000/how-it-works">How it Works</a>
                <a href="#">About</a>
                <a href="http://127.0.0.1:5000/contact" class="active">Contact</a>
                <a href="http://127.0.0.1:5000/profile/emilie"><img src="/static/images/emilie.jpg" Alt="Profile Image" Class="profile-image"></a>
            </nav>
            
        </header>

        <main class="contactMain">
            <h1>Contact</h1>
            <p style="line-height: 2em;">
                Opening Hours for Customer Service<br>

                Monday-Friday 9 AM - 4 PM
            </p>
            <h2>Customerservice</h2>
            <p>
                Click <a href="mailto:info@frux.com">here</a> to mail us!
            </p>
            <h2>Address</h2>
            <p>
                Address Selma Lagerlöfs Vej<br>
                Phone number <a href="tel:004540471395">+45 12 34 56 78</a>
            </p>
        </main>

    </body>
</html>
