<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:900&display=swap">
    </head>
    <body>
        <h1 class="title"> Grocery List</h1>
        <ul style="text-align: center;">
            <h2 class="title">Rema 1000</h2>
            {% for product, price in supermarket_prices.items() %}
                <li>{{ product }}: {{ price }} DKK</li>
            {% endfor %}
        </ul>
    </body>
</html>