<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Frux | How it works</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:900&display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="header" style="background-color: #fdfdfdc7;">
        <a href="http://127.0.0.1:5000/"><img src="/static/images/logo_dark.png" alt="logo" class="logo"></a>
        <nav class="navbarDark">
            <a href="http://127.0.0.1:5000/how-it-works" class="active">How it Works</a>
            <a href="http://127.0.0.1:5000/about">About</a>
            <a href="http://127.0.0.1:5000/contact">Contact</a>
            <a href="http://127.0.0.1:5000/profile/emilie"><img src="/static/images/emilie.jpg" alt="Profile Image" class="profile-image"></a>
        </nav>
    </header>
    <div class="how-it-works-title">
        <h1>How it works</h1>
     </div>

        <div class="how-it-works-box"></div>
        <div class="how-it-works-p">Frux is an application which helps you to find the cheapest option for your grocery shopping. You can type in the products you want to buy, and then Frux will search the database and present the cheapest shopping option for you.</div>

<div class="colored-section">
    <div class="row">
    <div class="column">
      <div class="image-title">Step 1</div>
      <div class="how-it-works-box-1"></div>
      <div class="image-description">Tell us what groceries you need</div>
      <img src="/static/images/Step_1.png" alt="Step 1" style="width:100%"> 
    </div>

    <div class="column">
      <div class="image-title">Step 2</div>
      <div class="how-it-works-box-1"></div>
      <div class="image-description">We compare the prices of different stores to find the cheapest option for you</div>
      <img src="/static/images/step_2.png" alt="Step 2" style="width:100%">
    </div>
    <div class="column">
      <div class="image-title">Step 3</div>
      <div class="how-it-works-box-1"></div>
      <div class="image-description">Voila&#10024;we present the cheapest store for you to buy your groceries</div>
      <img src="/static/images/step_3.png" alt="Step 3" style="width:100%">
    </div>
  </div>
</div>

<div class="how-it-works-title">
  <h1>Why it works</h1>
</div>
<div class="how-it-works-box"></div>

<div class="container">
<div class="how-it-works-p-1">Frux aims to help you spend as less as possible on your grocery shopping while aiming to make it as convenient as possible. When you type in the groceries you need, Frux looks through its database and presents the cheapest option for you. Frux also allows you to select your favorite stores to ensure that you are only presented with stores that you want to shop in. Once you've found the store you want to shop in, you can save the grocery list and add them to your trips, and search the same grocery list again if you want to shop for the same items and find the cheapest option again. </div>
</div>
</body>

</html>