<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Frux | How it works</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:900&display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="header" style="background-color: #fdfdfd;">
        <a href="http://127.0.0.1:5000/"><img src="/static/images/logo_dark.png" alt="logo" class="logo"></a>

        <nav class="navbarDark">


            <a href="http://127.0.0.1:5000/how-it-works" class="active">How it Works</a>

            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="http://127.0.0.1:5000/profile/emilie"><img src="/static/images/emilie.jpg" alt="Profile Image" class="profile-image"></a>
        </nav>
    </header>

    <h1 class="how-it-works-title">How it works</h1>

    <p class="p">Frux is an application which helps you to find the cheapest option for your grocery shopping. You can type in the products you want to buy, and then Frux will search the database and present the cheapest shopping option for you.</p>

    <img src="/static/images/Step_1.png">

</body>

</html>