<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Flux | Grocery Shopping</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:900&display=swap">
    </head>
    <style>
        body {
            background-image: url("/static/images/background.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    </style>
<body>

    <header class="header">
        <a href="#" class="logo">Logo</a>

        <nav class="navbar">
            <a href="#">Item 1</a>
            <a href="#">Item 2</a>
            <a href="#">Item 3</a>
        </nav>
 
        <select class="profile-button"> 
            <option value="rigatoni">Emilie</option> 
            <option value="dave">Dave</option> 
            <option value="pumpernickel">Pumpernickel</option> 
            <option value="reeses">Reeses</option> 
        </select>

    <!--   <img src="/static/images/emilie.jpg" alt="profile image" class="profile-image"> -->
    </header>

    <h1 class="title">Where Savings<br>Meet Convenience</h1>
    <form action="/items" method="post" autocomplete="on" style="text-align: center;">
        <input class="input" name="item" type="text" placeholder="Separate items by comma">
        <input class="button" type="submit" value="Search">
    </form>

</body>
</html>