<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Flux | Grocery Shopping</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:900&display=swap">
    </head>
    <style>
        body {
            background-image: url("/static/images/background.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    </style>
<body>
    <h1 class="title">Where Savings<br>Meet Convenience</h1>
    <form style="text-align: center;" action="/items" method="post">
        <input name="item" type="text" placeholder="Separate items by comma">
        <input type="submit">
    </form>
</body>
</html>